<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Add a New Skill</title>
</head>
<body>
    <h2>Add a New Skill</h2>
    <form action="/skills" method="POST">
        <label>Skill:
            <input type="text" name="skill">
        </label></br>
        <label>Difficulty:
            <input type="number" name="difficulty">
        </label></br>
            <input type="submit" value="Add Skill!">
    </form>
</body>
</html>