<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  </head>
  <body>
    <%- include partials/header.ejs %>
    <% if (user) { %>
        <% include partials/loggedin.ejs %>
    <% } else { %>
        <p>This is a simple guitar tracking app. Log in to start tracking the things you've been playing! You can log skills, songs, and the time spent practicing them! </p>
		<a href="/auth/google">Login with Google!</a>
	<% } %>
    <br>
  </body>
</html>
